@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Zilla Slab', serif;
}

.form-input {
  @apply bg-white placeholder:text-sm border border-[#C6CACE] p-3 rounded-xl
}

.gradient {
  background: linear-gradient(90deg, #0e3e33 0%, #0e3e33 30%, #0b2b29 50%, #0b2b29 100%);
}

.leading-52 {
  line-height: 52px;
}

.leading-44 {
  line-height: 44px;
}

.leading-32 {
  line-height: 32px;
}

.text-52 {
  font-size: 52px;
}

.text-44 {
  font-size: 44px;
}

.text-32 {
  font-size: 32px;
}

.company-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/company-hero.jpeg') no-repeat center center;
  background-size: cover;
}

.impact-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('/impacthero.png') no-repeat center center;
  background-size: cover;
}

.install-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/installherr.webp') no-repeat center center;
  background-size: cover;
}

.cta {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/cta.png') no-repeat center center;
  background-size: cover;
}

.about-cta {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/aboutCTA.jpeg') no-repeat center center;
  background-size: cover;
}

.company-cta {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/companyCTA.png') no-repeat center center;
  background-size: cover;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.loader2 {
  width: 48px;
  height: 48px;
  border: 3px dotted #e8e8e8;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation2 2s linear infinite;
}

.loader2::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #052440;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack2 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}


.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 16rem;
  height: fit-content;
  /* padding: 0 2rem 2rem 2rem; */
  border-radius: 10px;
}

.testimonial-text,
.testimonial-images {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}



/* team members */
.teams-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.team-member-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 20px; */
}

.team-member-images {
  display: flex;
  justify-content: center;
  /* padding: 20px; */
}

.image-container {
  /* margin: 20px; */
}

.next-image {
  opacity: 0.5;
}

.progress-bar-container {
  display: flex;
  align-items: center;
  /* padding: 20px; */
  margin-top: 30px;
  width: 100%;
}

.progress-bar {
  width: 100%;
  height: 5px;
  background-color: #00524466;
  border-radius: 10px;
  margin-right: 20px;
}

.progress {
  height: 5px;
  background-color: #005244;
  border-radius: 10px;
}